#hint {
    font-size: 8vh;
}

#clock {
    font-size: 12vh;
}

body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

#logs {
    overflow-y: auto;
    max-height: 500px;
}