<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/site.webmanifest">
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/../assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Lite Escape</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-dark-plugin.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <script src="../assets/js/bootstrap.bundle.min.js" defer></script>
    <script src="../liteescape_config.js" defer></script>
    <script src="../assets/js/script.js" defer></script>
</head>

<body class="h-100 text-center text-white bg-dark">

    <div id="game" class="container d-flex w-100 h-100 p-0 flex-column align-items-center justify-content-center">
        <div class="row mt-auto">
            <h1 id="clockplayer" class="clock">{{title_loading}}</h1>
            <p id="hint">{{hint_loading}}</p>
        </div>
        <div id="logos" class="row"></div>
        <div id="nav" class="row mt-auto">
            <div class="col p-2"><a class="text-decoration-none" href="https://gitlab.com/gamexperience/lite-escape"
                    target="_blank">Lite Escape</a> - <a class="text-decoration-none" href="?admin"
                    target="_blank">{{button_adminmode}}</a></div>
        </div>
    </div>

    <div id="admin" class="container h-100">
        <div class="row">
            <h1 class="border-bottom mb-2 p-2">Lite Escape : {{title_admin_panel}}</h1>
            <div class="col p-1">
                <h1 id="clockadmin" class="clock">{{title_loading}}</h1>
                <button id="timerStart" name="timerStart" class="text-white btn btn-outline-success m-1"
                    href="#">{{button_timer_start}}</button>
                <button id="timerPause" name="timerPause" class="text-white btn btn-outline-warning m-1"
                    href="#">{{button_timer_pause}}</button>
                <button id="timerReset" name="timerReset" class="text-white btn btn-outline-danger m-1"
                    href="#">{{button_timer_reset}}</button><br />
                <button id="timerAdd" name="timerAdd" class="text-white btn btn-outline-info m-1"
                    href="#">{{button_timer_add}}</button>
                <button id="timerRemove" name="timerRemove" class="text-white btn btn-outline-info m-1"
                    href="#">{{button_timer_remove}}</button>
                <hr>
                <button id="clear" name="clear" class="text-white btn btn-outline-danger m-1"
                    href="#">{{button_clear}}</button>
                <div id="logs" class="text-start mt-1"></div>
            </div>
            <div class="col p-1">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="inputMessage" name="inputMessage"
                        aria-describedby="inputMessageHelp" placeholder="{{input_hint_placeholder}}">
                    <small id="inputMessageHelp" class="form-text text-muted">{{input_hint_help}}</small>
                </div>
                <button id="hintSend" name="hintSend" class="btn btn-outline-success m-1"
                    type="submit">{{button_hint_sent}}</button>&nbsp;
                <button id="hintHide" name="hintHide" class="btn btn-outline-danger m-1"
                    type="submit">{{button_hint_remove}}</button>
                <hr>
                <div id="hintList" class="d-grid gap-2 d-none">
                    <h2>{{title_hints}}</h2>
                </div>
                <hr>
                <div id="videoList" class="d-grid gap-2 d-none">
                    <h2>{{title_videos}}</h2>

                    <a id="videostop" class="videostop btn btn-outline-danger m-1">{{button_video_stop}}</a>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">
                <div id="videoWrapper" class="modal-body ratio ratio-16x9">
                </div>
            </div>
        </div>
    </div>


</body>

</html>